option_settings:
  # Auto Scaling Group Configuration
  aws:autoscaling:asg:
    MinSize: 3
    MaxSize: 6
    Cooldown: 360

  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro

  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application

  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSize: 1
    BatchSizeType: Fixed
    Timeout: 600
